<!DOCTYPE html>
<html ng-app="keepAliveDWApp">
    <head>
        <title>Keep Alive for Dazeworks Internet</title>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <link rel="stylesheet" type="text/css" href="../css/third-party/bootstrap.min.css">
    </head>
    <body ng-controller="WebViewCtrl as ctrl" ng-init="ctrl.loadURL()">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <strong>Keep Alive for Dazeworks Internet</strong>
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <p class="navbar-text navbar-right">
                        <small>
                            <em>
                                Made with <img src="../img/heart.png" /> by Deepak
                            </em>
                        </small>
                    </p>
                </div>
            </div>
        </nav>


        <div class="container-fluid">
            <div class="alert alert-success" ng-show="ctrl.hasSaved == true">
                Success! Your changes have been saved successfully.
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info">
                        With this Desktop App you'll no longer need to have  a tab open 
                        on your Browser to maintain your <strong>Dazeworks Internet 
                        Session</strong>. Sign-in via this Desktop App, keep it minimized 
                        and enjoy browsing on your favourite Browser! In case of a 
                        new URL/endpoint, type in the same and hit <strong>Save</strong>. 
                        Your changes will be remembered.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-10">
                    <input type="text" class="form-control" ng-model="ctrl.loginURL" />
                </div>
                <div class="form-group col-md-2">
                    <input type="button" class="btn btn-success btn-block" ng-click="ctrl.saveURL()" value="Save" />
                </div>
            </div>
        </div>

        <webView src="{{ctrl.loginURL}}"></webView>

        <script type="text/javascript" src="../js/third-party/jquery-2.2.0.min.js"></script>
        <script type="text/javascript" src="../js/third-party/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/third-party/angular.min.js"></script>
        <script type="text/javascript" src="../js/app.js"></script>
    </body>
</html>